{% comment %} {% extends "admin/index.html" %} {% endcomment %}
<div class="container py-5">
    <form action="{% url 'app:get_dadata' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="address">Введите </label>
            {{ form }}
            {% comment %} <input type="text" class="form-control" id="sddress" name="address"> {% endcomment %}
        </div>
        <input type="submit" class="btn btn-primary" name="send" value="Получить информацию">
    </form>
</div>
{% if enable_data %}
    <div class="alert alert-info">
    <b>Адресс:</b> {{ data.result }}<br>
    <b>Регион:</b> {{ data.region }}<br>
    <b>Улица:</b> {{ data.street }}<br>
    <b>Широта:</b> {{ data.geo_lat }}<br>
    <b>Долгота:</b> {{ data.geo_lon }}<br>
    </div>
{% endif %}